In [1]:
print("Bye World")

Bye World

In [ ]:
x = 3
y = 7
print(x + y)

In [ ]:
string1 = "Hello, "
string2 = "World!"
print(string1 + string2)

In [ ]:
string3 = "The number is "
number = 42
print(string3 + str(number))

In [ ]:
num = -5
if num > 0:
    print("Positive")
elif num == 0:
    print("Zero")
else:
    print("Negative")

In [ ]:
num = 4
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

In [ ]:
for i in range(1, 11):
    print(i)

In [ ]:
counter = 1
while counter <= 10:
    print(counter)
    counter += 1

In [ ]:
sum_numbers = 0
for i in range(1, 101):
    sum_numbers += i
print(sum_numbers)

In [ ]:
numbers = [12, 7, 19, 3, 5]
print(max(numbers))
print(min(numbers))

In [ ]:
dictionary = {"a": 1, "b": 2, "c": 3}
print(dictionary["b"])

In [ ]:
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

In [ ]:
dict1 = {"x": 1, "y": 2}
dict2 = {"z": 3}
dict1.update(dict2)
print(dict1)

In [ ]:
string = "hello world"
vowels = "aeiou"
count = sum(1 for char in string if char in vowels)
print(count)

In [ ]:
print(string[::-1])

In [ ]:
palindrome = "radar"
if palindrome == palindrome[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

In [ ]:
with open("example.txt", "w") as file:
    file.write("Hello, this is a test file.")
with open("example.txt", "r") as file:
    print(file.read())

In [ ]:
with open("example.txt", "a") as file:
    file.write("\nAdding more content.")
with open("example.txt", "r") as file:
    print(file.read())

In [ ]:
with open("example.txt", "r") as file:
    print(len(file.readlines()))

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero.")

In [ ]:
try:
    num = int("not a number")
except ValueError:
    print("Invalid input.")
finally:
    print("End of exception handling.")

In [ ]:
import random
for _ in range(5):
    print(random.randint(1, 100))

In [ ]:
num = random.randint(1, 100)
is_prime = all(num % i != 0 for i in range(2, int(num**0.5) + 1))
print(f"{num} is prime: {is_prime}")

In [ ]:
print(random.randint(1, 6))

In [ ]:
nums = [1, 2, 3, 4, 5]
random.shuffle(nums)
print(nums)

In [ ]:
print(random.choice(nums))

In [ ]:
password = ''.join(random.choices("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789", k=8))
print(password)

In [ ]:
suits = ["Hearts", "Diamonds", "Clubs", "Spades"]
values = ["2", "3", "4", "5", "6", "7", "8", "9", "10", "Jack", "Queen", "King", "Ace"]
deck = [f"{value} of {suit}" for suit in suits for value in values]
print(random.choice(deck))

In [ ]:
import math
print(math.sqrt(16))

In [ ]:
from datetime import datetime
print(datetime.now())

In [ ]:
import os
print(os.listdir())